<h1 style="text-align:center">
    CapCafe
  </h1>
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a (click)="login()">Login</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
  
    <form (ngSubmit)="getQuestion()" #getQuesForm="ngForm">
      <table class="table table-striped">
          <tr><th colspan="2">Answer security question to reset password</th></tr>
          
        <tr><td width="30%">Employee id: </td>
            <td><input type="text" name="empId" [(ngModel)]=empId #emppId=ngModel required pattern="[0-9]{2,5}" placeholder="Please Enter your employee Id">
             <span *ngIf="emppId.touched && emppId.invalid && (emppId.errors.required || emppId.errors.pattern)" class="alert alert-warning">
              Invalid employee Id or employee Id cannot be empty!
            </span>
        </td></tr>
  
        <tr><td colspan="2" align="center">  
            <button type="submit" [disabled]="!getQuesForm.valid" class="btn btn-info">Submit employee id</button>
        </td></tr>
    </table>
  </form>
  </div>
  
  
  
  <div class="container">
  
    <form (ngSubmit)="forgotPassword()" #forgotPassForm="ngForm">
      <table class="table table-striped">
          
          <tr><td colspan="2" align="center">  
              <h3>{{question}}</h3>
          </td></tr>
  
        <tr><td width="30%">Answer: </td>
            <td><input type="text" name="answer" [(ngModel)]=answer #empAns=ngModel required placeholder="Please Enter your employee Id">
             <span *ngIf="empAns.touched && empAns.invalid && (empAns.errors.required || empAns.errors.pattern)" class="alert alert-warning">
              Invalid employee answer or answer cannot be empty!
            </span>
        </td></tr>
  
        <tr><td width="30%">New password: </td>
          <td><input type="password" name="newpass" [(ngModel)]=newpass #newEmpPass=ngModel required placeholder="Please Enter your password">
           <span *ngIf="newEmpPass.touched && newEmpPass.invalid && (newEmpPass.errors.required || newEmpPass.errors.pattern)" class="alert alert-warning">
            Invalid password or password cannot be empty!
          </span>
        </td></tr>
  
        <tr><td colspan="2" align="center">  
            <button type="submit" [disabled]="!forgotPassForm.valid" class="btn btn-info">Change Password</button>
          </td></tr>
  
    </table>
  
  </form>
  </div>
  