<h1 style="text-align:center">CapCafe</h1>

<nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a (click)="login()">Login</a></li>
          </ul>
        </div>
</nav>
    

<div class="container">

<form (ngSubmit)="signup()" class="login-container" #addForm="ngForm">

    <table class="table table-striped">
        <tr><th colspan="2">Register</th></tr>

        <tr><td width="30%">Name: </td>
            <td><input type="text" class="form-control" name="employeeName" [(ngModel)]=employee.employeeName #name=ngModel required pattern="[A-Za-z]{3,20}" placeholder="Please Enter your Name">
             <span *ngIf="name.touched && name.invalid && (name.errors.required || name.errors.pattern)">
                Employee Name should be a character of length between 3-5 characters
            </span>
        </td></tr>

        <tr><td width="30%">Employee id: </td>
            <td><input type="text" class="form-control" name="employeeId" [(ngModel)]=employee.employeeId #empId=ngModel required pattern="[0-9]{2,20}" placeholder="Please Enter your employee Id">
             <span *ngIf="empId.touched && empId.invalid && (empId.errors.required || empId.errors.pattern)">
                Employee ID should be a number of length 3-5 digits
            </span>
        </td></tr>

        <tr><td width="30%">Employee password: </td>
            <td><input type="password" class="form-control" name="employeePassword" [(ngModel)]=employee.employeePassword #empPass=ngModel required placeholder="Please Enter your password">
             <span *ngIf="empPass.touched && empPass.invalid && (empPass.errors.required || empPass.errors.pattern)">
              Password cannot be empty!
            </span>
        </td></tr>

        <tr><td width="30%">Employee mobile no: </td>
            <td><input type="text" class="form-control" name="employeePhone" [(ngModel)]=employee.employeePhone #empPhone=ngModel required pattern="[7-9][0-9]{9}" placeholder="Please Enter your mobile number">
             <span *ngIf="empPhone.touched && empPhone.invalid && (empPhone.errors.required || empPhone.errors.pattern)">
              Invalid mobile no. or mobile no. cannot be empty!
            </span>
        </td></tr>

        <tr><td width="30%">Employee mail id: </td>
            <td><input type="email" class="form-control" name="employeeMail" [(ngModel)]=employee.employeeMail #empMail=ngModel required required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" placeholder="Please Enter your mail id">
             <span *ngIf="empMail.touched && empMail.invalid && (empMail.errors.required || empMail.errors.pattern)">
              Invalid mail id or mail id cannot be empty!
            </span>
        </td></tr>

        <tr>
            <td>Security Question:</td>
            <td><select [(ngModel)]="employee.question" name="question" #question=ngModel required class="form-control">
            <option *ngFor="let a of questions" [value]="a" >{{a}}</option>
            </select>
            <span *ngIf="question.touched && question.invalid && question.errors.required">
            Please select question
            </span>
        </td></tr>

        <tr><td width="30%">Answer: </td>
          <td><input type="text" class="form-control" name="answer" [(ngModel)]=employee.answer #empAns=ngModel placeholder="Please Enter your answer">
             <span *ngIf="empAns.touched && empAns.invalid && (empAns.errors.required)">
              Answer cannot be empty!
            </span>
        </td></tr>

        <tr><td colspan="2" align="center">  
            <button type="submit" [disabled]="!addForm.valid" class="form-control" >Sign up</button>
        </td></tr>
    </table>

</form>
</div>