<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">CapCafe</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a (click)="home()">Home</a></li>
        <li><a (click)="mapList()">List Cafe</a></li>
        <li><a (click)="goHelpdesk()">Help Me!</a></li>
        <li><a (click)="yourOrders()">Orders</a></li>
        <li><a (click)="profile()">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="navigateResetPassword()">Reset Password</a></li>
        <li><a (click)="logout()" >Logout</a></li>
      </ul>
    </div>
</nav>
  
  <div class="container">
  
      <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
        <table class="table table-striped">
            <tr><th colspan="2">Reset Password</th></tr>
            
          <tr><td width="30%">Employee id: </td>
              <td><input type="text" name="empId" [(ngModel)]=empId #emppId=ngModel required pattern="[0-9]{2,5}" placeholder="Please Enter your employee Id">
               <span *ngIf="emppId.touched && emppId.invalid && (emppId.errors.required || emppId.errors.pattern)" class="alert alert-warning">
                Invalid employee Id or employee Id cannot be empty!
              </span>
          </td></tr>
  
          <tr><td width="30%">Previous password: </td>
            <td><input type="password" name="prevpass" [(ngModel)]=prevpass #prevEmpPass=ngModel required placeholder="Please Enter your password">
             <span *ngIf="prevEmpPass.touched && prevEmpPass.invalid && (prevEmpPass.errors.required || prevEmpPass.errors.pattern)" class="alert alert-warning">
              Invalid password or password cannot be empty!
            </span>
          </td></tr>
  
          <tr><td width="30%">New password: </td>
            <td><input type="password" name="newpass" [(ngModel)]=newpass #newEmpPass=ngModel required placeholder="Please Enter your password">
             <span *ngIf="newEmpPass.touched && newEmpPass.invalid && (newEmpPass.errors.required || newEmpPass.errors.pattern)" class="alert alert-warning">
              Invalid password or password cannot be empty!
            </span>
          </td></tr>
  
          <tr><td colspan="2" align="center">  
              <button type="submit" [disabled]="!resetForm.valid" class="btn btn-info">Change Password</button>
            </td></tr>
  
      </table>
  
    </form>
  </div>