<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">CapCafe</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a (click)="home()">Home</a></li>
        <li><a (click)="mapList()">List Cafe</a></li>
        <li><a (click)="goHelpdesk()">Help Me!</a></li>
        <li><a (click)="yourOrders()">Orders</a></li>
        <li><a (click)="profile()">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="navigateResetPassword()">Reset Password</a></li>
        <li><a (click)="logout()" >Logout</a></li>
      </ul>
    </div>
</nav>



<h3 >Your Order Summary:</h3> <br>
<div class="container">
  <form (ngSubmit)="addItem()" #addForm="ngForm" >
  <form (ngSubmit)="addOrder()" #addForm="ngForm" >
  <table class = "table table-bordered" style="text-align: center">
    <tr>
      <th style='text-align:center '>Item Id</th>
      <th style='text-align:center '>Item Name</th>
      <th style='text-align:center '>Type</th>
      <th style='text-align:center '>Price Per Item</th>
      <th style='text-align:center '>Quantity</th>
      <th style='text-align:center '>Total</th>
      <th style='text-align:center '>Action</th>
    </tr>
    <tr *ngFor = "let coll of orderDetails; let i = index" >
        <td style="background-color: lightyellow"><b>{{coll.itemId}}</b></td>
        <td style="background-color: lightyellow"><b>{{coll.itemName}}</b></td>
        <td style="background-color: lightyellow"><b>{{coll.itemType}}</b></td>
        <td style="background-color: lightyellow"><b>{{coll.itemPrice}}</b></td>
        <td style="background-color: lightyellow"><b>{{coll.quantity}}</b></td>
        <td style="background-color: lightyellow"><b>{{coll.itemTotal}}</b></td>
        <td style="background-color: lightyellow"><button class = "btn btn-warning" (click) = "delete(i)">Delete</button></td>
      </tr>
  </table>
  
  <button class="btn btn-success" type="submit" (click)="goToOrder()">Add order</button>
  
  <button class="btn btn-success" type="submit" (click)="goToItem()" >Add Item</button>

  
  